/* CSS RESPONSIVENESS */
/* Tablet */
@media only screen and (min-width: 401px) and (max-width:960px){
  .home-page{
      width: 100%;
      display: flex;
      background-position: -350px;
      height: 100%;
  }

  .sidenav{
      width: 30%;

  }
}