*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px red solid; */
}


/* STICKY NAVBAR */
.hello{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: -6px;
  font-size: 80px;
  /* text-align: right; */
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav-content{
    margin-top: 25%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1.1px;
    font-size: 15px;
    margin-right: 5%;
  }

.sidenav h2{
  font-size: 30px;
}
.sidenav p{
  letter-spacing: 0.5px;
  font-size: 12px;
}
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-size: 20px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .social-media{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
}

.social-media > .fab{
    margin: 5px;
    color: grey;   
    font-size: 20px;
}

.copywrite{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
  font-size: 10px;
}
  
  /* HOME PAGE */
  .home-page{
    position: relative;
    left: 30%;
    height: 100vh;
    width: 70%;
    /* height: 100%; */
    /* float: right; */
    background: url(images/portfolio.jpg);
    background-size: cover;
  }

/* ABOUT ME PAGE */
.about-page{
  height: 100vh;
  width: 70%;
  position: relative;
  left: 30%;
}

.about-content{
  background-color: black;
  width: 70%;
  height: 80%;
  position: relative;
  top: 20%;
  left: 30%;
}

.me{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }